<div class="row">
    <div class="col-xs-12">
        <div>
            <button type="button" class="btn btn-block btn-info btn-lg" onclick="location.href='@Url.Action("Create", "Restaurant")'">Add New Restaurant</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">List of Restaurants</h3>
            </div>

            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Unique ID</th>
                            <th>Restaurant Name</th>
                            <th>Administrator</th>
                            <th>Email Address</th>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr>
                            <td>shadabchmnr</td>
                            <td>Shadab Restaurant Charminar</td>
                            <td>Nadeem Khan</td>
                            <td>nadeemkhan@gmail.com</td>
                            <td><span class="label label-success">Active</span></td>
                            <td><button type="button" class="btn btn-block btn-primary btn-sm">Dashboard</button></td>
                        </tr>
                        <tr>
                            <td>shadabbanjara</td>
                            <td>Shadab Take-Away Banjara Hills</td>
                            <td>Nadeem Khan</td>
                            <td>nadeemkhan@gmail.com</td>
                            <td><span class="label label-success">Active</span></td>
                            <td><button type="button" class="btn btn-block btn-primary btn-sm">Dashboard</button></td>
                        </tr>
                        <tr>
                            <td>bawarchi</td>
                            <td>Bawarchi Restaurants</td>
                            <td>Mateen Khan</td>
                            <td>mateenkhan@gmail.com</td>
                            <td><span class="label label-success">Active</span></td>
                            <td><button type="button" class="btn btn-block btn-primary btn-sm">Dashboard</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

