<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>A</b>LT</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg">
            <img src="~/Content/img/siteLogo.png" />
        </span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">Baseer Siddiqui</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <p>
                               Site Super Admin
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="~/Logout" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                @* END User Account Menu *@
                
            </ul>
        </div>
    </nav>
</header>