@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="@Url.IsLinkActive("List", "Restaurant")">
                <a href="@Url.Action("List", "Restaurant")"><i class="fa fa-cutlery"></i><span>Restaurants</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cutlery"></i><span>Menu</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cutlery"></i><span>Waiters</span></a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>